[user]
name = Tatsuya Kamohara
email = 17017563+kamontia@users.noreply.github.com 


[ghq]
root = ~/repo/src

[diff]
  tool = meld
[difftool "meld"]
  cmd = meld $LOCAL $REMOTE
[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld $LOCAL $BASE $REMOTE --auto-merge
[core]
	editor = vim -c \"set fenc=utf-8\"
