#!/bin/bash

## Manage dotfile
# chezmoi
sh -c "$(curl -fsLS git.io/chezmoi)" -- init --apply kamontia@gmail.com

## Terminal
# Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)"

# Get Font
{{ if (eq .chezmoi.os "linux") }}
wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/UbuntuMono.zip
wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/JetBrainsMono.zip

mkdir -p "~/.fonts/truetype/"
cp -rp UbuntuMono       ~/.fonts/truetype/
cp -rp JetBrainsMono    ~/.fonts/truetype/
{{ end }}

{{ if (eq .chezmoi.os "darwin") }}
brew tap homebrew/cask-fonts
brew cask install 
{{ end }}

# Zinit
sh -c "$(curl -fsSL https://git.io/zinit-install)"

## Tools
# tig,tmux
{{ if (eq .chezmoi.os "linux") }}
sudo apt install tmux tig bat jq unzip

git clone https://github.com/x-motemen/ghq .
make install
{{ end }}

{{ if (eq .chezmoi.os "darwin") }}
brew install ghq
{{ end }}

# asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf

# install fzf
asdf plugin add fzf https://github.com/kompiro/asdf-fzf.git
asdf install fzf latest
asdf global latest

# install ghq
asdf plugin add ghq
asdf install ghq latest
asdf global latest

# install exa
asdf plugin add exa
asdf install exa latest
asdf global exa latest
