# Yazi Configuration

[manager]
ratio          = [ 1, 3, 4 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
show_hidden    = true
show_symlink   = true

[preview]
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""

[opener]
edit = [
	{ exec = 'nvim "$@"', block = true, desc = "Edit" },
]

[open]
rules = [
	{ name = "*.txt", use = "edit" },
	{ name = "*.md", use = "edit" },
	{ name = "*.lua", use = "edit" },
]
